services:
  db:
    container_name: db
    image: postgres:16.0
    restart: always
    environment:
      - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    healthcheck:
      test: "pg_isready --username=postgres && psql --username=postgres --list"
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 5s
  tgbot:
    container_name: tgbot
    build: tgbot
    ports:
      - "8001:8000"
    volumes:
      - ./config:/config
    depends_on:
      db:
        condition: service_healthy
  alarmist:
    container_name: alarmist
    build: alarmist
    ports:
      - "8000:8000"
    volumes:
      - ./config:/config
    depends_on:
      db:
        condition: service_healthy


  cpu_playground:
    container_name: cpu_playground
    image: postgres:16.0
    restart: always
    environment:
      - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
    volumes:
      - ./playground/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "4000:5432"
    cpus: 0.01
  ram_playground:
    container_name: ram_playground
    image: postgres:16.0
    restart: always
    environment:
      - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
    volumes:
      - ./playground/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "4001:5432"
    mem_limit: 150M
  connection_playground:
    container_name: connection_playground
    image: postgres:16.0
    restart: always
    environment:
      - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
    volumes:
      - ./playground/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "4002:5432"
  storage_playground:
    container_name: storage_playground
    image: postgres:16.0
    restart: always
    environment:
      - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
    volumes:
      - ./playground/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "4003:5432"
    storage_opt:
      size: '1G'
  lwlock_playground:
    container_name: lwlock_playground
    image: postgres:16.0
    restart: always
    environment:
      - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
    volumes:
      - ./playground/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "4004:5432"
  timeout_playground:
    container_name: timeout_playground
    image: postgres:16.0
    restart: always
    environment:
      - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
    volumes:
      - ./playground/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "4005:5432"
