services:
  db:
    container_name: kabachok_db
    image: postgres:16.0
    restart: always
    environment:
      - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    healthcheck:
      test: "pg_isready --username=postgres && psql --username=postgres --list"
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 5s
  app:
    container_name: app
    build: .
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy

